<!DOCTYPE html>
<html>

<head>
  <title>Twilio Demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mystyle.css') }}">
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>

<body>
  <h2>Twilio Delivery Confirmation</h2>
  <div class="table-wrapper">
    <br>
    {% for result in results %}
    {{ result }}<br>
    {% endfor %}
  </div>
  <div class="table-wrapper">
  <table class="fl-table" id="records_table" border='1'>
    <thead>
    <tr>
      <th>MessageSid</th>
      <th>MessageStatus</th>
      <th>To</th>
    </tr>
    </thead>
  </table>
  </div>
</body>
<script>
  var targetContainer = document.getElementById("target_div");
  var eventSource = new EventSource("/stream")
  eventSource.onmessage = function (e) {
    targetContainer.innerHTML = e.data;
  };
</script>
<script>

  $(window).load(function () {
    update()
    setInterval(function () {
      update()
    }, 10000)
  })

  function update() {
    console.log('updating')
    $.ajax({
      url: '/MessageStatus',
      success: function (response) {
        $("response").text(response);
        items = response.notif
        console.log(items)
        console.log(response)
        var trHTML = '';
        $.each(items, function (i, item) {
          trHTML += '<tr><td>' + item.sid + '</td><td>' + item.status + '</td><td>' + item.to + '</td></tr>';
        });
        $(document).ready(function () {
          $("#records_table").find("tr:gt(0)").remove();
        });
        $('#records_table').append(trHTML);
      }
    });
  }
</script>
<script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</html>
