<!DOCTYPE html>
<html>
  <head>
    <title>Twilio Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Twilio Delivery Confirmation</h1>
      <br>
    {% for result in results %}
        {{ result }}<br>
    {% endfor %}
    </div>
    <div id="target_div">Watch this space...</div>
    
    <table id="records_table" border='1'>
    <tr>
        <th>MessageSid</th>
        <th>MessageStatus</th>
        <th>To</th>
    </tr>
    </table>
    </body>   
    <script>
      var targetContainer = document.getElementById("target_div");
      var eventSource = new EventSource("/stream")
      eventSource.onmessage = function(e) {
      targetContainer.innerHTML = e.data;
      };
    </script>
    <script>

$(window).load(function(){
    update()
    setInterval(function(){
        update()
    }, 10000)
})

function update() {
     console.log('updating')
        $.ajax({
            url: '/MessageStatus',
            success: function (response) {
                $("response").text(response);
                item = response.notif
                console.log(item)
                console.log(response)
                $.each(response, function(i, item) {
                    var $tr = $('<tr>').append(
                        $('<td>').text(item.sid),
                        $('<td>').text(item.status),
                        $('<td>').text(item.to)
        ); //.appendTo('#records_table');
        console.log($tr.wrap('<p>').html());
    });
            }            
        });
}
    </script>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 
</html>
